/* Start of main layout */
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
}

.header-wrapper {
    margin: -10px -10px 0;
    padding-left: 10px;
    background-color: #dddddd;
}

.posts-wrapper {
}

@media (min-width: 767px) {
    .wrapper {
        grid-gap: 10px;
    }
}
/* End of homepage recent posts layout */

/* Start of homepage recent posts layout */
.post-wrapper {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px;
    grid-column-gap: 10px;
    border-bottom: dotted 1px #dddddd;
    padding-bottom: 5px;
}

.post-thumbnail {
}

.post-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.post-synopsis {
    display: none;
}

@media (min-width: 767px) {
    .post-wrapper {
        grid-template-columns: repeat(9, 200px);
        grid-template-rows: repeat(4, 50px);
        padding-bottom: 10px;
    }

    .post-thumbnail {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .post-title {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .post-synopsis {
        display: block;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}
/* End of homepage recent posts layout */
