.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.image {
    margin-left: -20px;
    margin-right: -20px;
}

@media (min-width: 767px) {
    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr 600px 1fr;
    }
    .post-wrapper {
        width: 600px;
    }
}