<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/homepage.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="wrapper">
    <div th:include="header :: header" class="header-wrapper"></div>

    <a th:href="@{${post.absoluteUrl}}" class="content-wrapper" th:each="post : ${recentPosts}">
        <div class="post-wrapper">
            <div class="post-thumbnail">
                <!-- Pull in appropriate sized image for mobile and desktop, respectively -->
                <img srcset="
                        ../images/ramen/year-of-ramen/01/soy-chicken-ramen-100w.jpg 100w,
                        ../images/ramen/year-of-ramen/01/soy-chicken-ramen-200w.jpg 200w"
                     sizes="
                        (min-width: 767px) 200px,
                        100px"
                     src="../images/ramen/year-of-ramen/01/soy-chicken-ramen-100w.jpg"
                     alt="Soy Chicken Ramen"
                />
            </div>
            <div class="post-title">
                <h3 th:utext="${post.title}"/>
            </div>
            <div class="post-synopsis">
                <p>
                    Shio (pronounced she-oh) is Japanese for salt (i bet you didn’t guess that, did you?),
                    and it is the oldest form of ramen seasoning (ooh another surprise, you spoil us!).
                    Ok, what about this one… did you know that the word salary comes from the word sal,
                    which means Salt in Latin?
                </p>
            </div>
        </div>

    </a>
</div>
</body>
</html>
