<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/homepage.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="wrapper">
    <div th:include="header :: header" class="header-wrapper"></div>

    <a th:href="@{${post.absoluteUrl}}" class="content-wrapper" th:each="post : ${recentPosts}">
        <div class="post-wrapper">
            <div class="post-thumbnail">
                <img th:src="${post.thumbnail}" alt="Soy Chicken Ramen" />
            </div>
            <div class="post-title">
                <h3 th:utext="${post.title}"/>
            </div>
            <div class="post-synopsis">
                <p th:utext="${post.synopsis}"></p>
            </div>
        </div>

    </a>
</div>
</body>
</html>
