<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/post.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <div th:include="header :: header" class="header-wrapper"></div>

    <div class="content-wrapper">
        <!--Empty div to allow for left side of grid layout on page-->
        <div></div>

        <div class="post-wrapper">
            <h1 th:utext="${post.title}"></h1>
            <div th:utext="${post.body}"></div>
        </div>
        
        <!--Empty div to allow for right side of grid layout on page-->
        <div></div>
    </div>
</div>
</body>
</html>