<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/global.css" rel="stylesheet"/>
    <link href="/css/post.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <div th:include="header :: header" class="header-wrapper"></div>

    <div class="content-wrapper">
        <!--Empty div to allow for left side of grid layout on page-->
        <div></div>

        <div class="post-wrapper">
            <h1 th:utext="${post.title}"></h1>
            <!--<div th:utext="${post.body}"></div>-->

            <p>I fell in love with instant ramen when I was a kid. It was one of the first things I learnt to cook on my own and
                managed to get me through some tight university days, when all I could afford to eat was noodles that cost 6p
                (because I’d spent all my money on alcohol!). I remember looking at the recipe on the back of the packet and making
                the decision to try cooking them differently because I didn’t like how watery they were. This goes against what
                ramen is, but I didn’t like the soup that came with instant ramen, I wanted the concentrated flavour on the noodles
                only. So I experimented until I found the perfect amount of water to add to the noodles, to allow the packet’s
                seasoning to coat each noodle for maximum flavour (for those of you that are wondering it was 100ml of water, which
                really isn’t a lot).</p>
            <p>Since my childhood days I’ve improved somewhat in my cooking. When I was 17 I worked in Duttons Winebar in Chester,
                as a prep chef, and then worked in The Living Room in both Chester and Liverpool, as a commis chef. When I met my
                wife, whilst in university, I remember cooking her a 3-course meal for the first time and being blown away by the
                joy she got from eating the food I’d cooked. From that point on I knew that I wanted to challenge myself to cook
                much more interesting dishes.</p>
            <p>Along my culinary adventures I fell in love with Japanese cuisine. I couldn’t help but be attracted to delicious
                sushi, which is everywhere in the world now; sashimi, pure and unadulterated fish; and ramen, the nostalgic noodle
                that started me on my journey into umami heaven. Japanese cuisine is an art form, which is based on the Power of
                Five, in short, all 5 senses should be reflected in the meal that is prepared, e.g. there should be 5 tastes: salty,
                sweet, bitter, sour and umami (that delicious savoury flavour found in meats and cheeses); and 5 colours: white
                (rice), brown (mushrooms), yellow (egg yolk), red (radish) and green (spring onions); amongst the other 3 senses as
                well. It’s a wonderful and healthy way to live your life and I recommend everyone try it. For more in depth
                information on the power of five checkout <a href="http://www.savoryjapan.com/learn/culture/power.of.five.html">The Power of Five</a>.
            </p>
            <p>After Japan I moved onto other cuisines such as Vietnamese and Thai and these days I hardly cook any Japanese.
                However, I was recently introduced to a programme on Netflix called ‘The Mind of a Chef’, where the chef is a guy
                called David Chang, i.e. this guy:</p>
            <p>David owns a restaurant called Momofuku and after watching how excited he was getting about ramen, my nostalgic love
                affair with the noodle was back! So, I’ve decided to set myself a challenge of cooking one ramen dish a week for a
                whole year, blogging the recipe and my experience and understanding as much as I can about the art of ramen. I hope
                you enjoy my posts and learn a bit more about this complex dish.</p>
            <h2>Soy Chicken Ramen with a 63&deg;C Sous-Vide Egg</h2>
            <img srcset="
                    ../images/ramen/year-of-ramen/01/soy-chicken-ramen-600w.jpg 600w,
                    ../images/ramen/year-of-ramen/01/soy-chicken-ramen-800w.jpg 800w,
                    ../images/ramen/year-of-ramen/01/soy-chicken-ramen-1300w.jpg 1300w,
                    ../images/ramen/year-of-ramen/01/soy-chicken-ramen-1500w.jpg 1500w"
                 sizes="
                    (max-width: 767px) 100vw,
                    600px"
                 src="../images/ramen/year-of-ramen/01/soy-chicken-ramen-1500w.jpg"
                 alt="Soy Chicken Ramen"
            />

        </div>
        
        <!--Empty div to allow for right side of grid layout on page-->
        <div></div>
    </div>
</div>
</body>
</html>