<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sebcarss.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/post.css" rel="stylesheet" />
</head>
<body>
<a href="/">
    <div class="header">
        <h1 th:text="'sebcarss.com'" />
    </div>
</a>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/ramen">Ramen</a>
</div>

<div class="row">
    <div class="column side"></div>

    <div class="column middle">
        <div class="post">
            <h1 th:text="${post.title}" ></h1>
            <p th:text="'date posted: ' + ${post.day} + '/' + ${post.month} + '/' + ${post.year}"></p>

        </div>
    </div>

    <div class="column side"></div>
</div>

<div class="footer">
    <h3 th:text="'sebcarss.com'" />
</div>
</body>
</html>